@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','sans-serif';
}

.App{
    display: grid;
    grid-template-columns: repeat(4,4fr);
    gap: 1rem;
    padding: 1rem;
}